* {
    background-color: rgb(82, 82, 85);
}

.board-tile {
    background-color: rgb(125, 161, 125);
    width: 10rem;
    height: 10rem;
    border: 3px solid rgb(62, 62, 113);
}

#board-container {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 32rem;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#title-header {
    text-align: center;
}